<!doctype html>
<html>
<head>
  <meta name='viewport' content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Minified JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link href="/ui/style.css" rel="stylesheet" />

  <title>My Routine | Roshan Kumar</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <!-- <img src="/static/images/cricket-logo.svg" alt="cricket-logo" class="img-responsive"/> -->
          <span class="logo">DRT</span>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <ul class="nav nav-pills"> -->
        <li class="active">
          <a href="/">
            Daily Routine Tasks
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        <li data-toggle="modal" data-target="#mySignupModal">
          <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            SIGN UP
          </a>
        </li>
        <li data-toggle="modal" data-target="#myLoginModal">
          <a href="#">
            <span class="glyphicon glyphicon-log-in"></span>
              LOGIN
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <h1>
      Daily Routine Tasks
    </h1>

    <h2>
      Task to be done today : (<span id="date-today"> 17-June-2017 </span>)
    </h2>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="panel with-nav-tabs panel-primary content">
          <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a href="#tab1about" data-toggle="tab" onclick="getContent('about')">About</a>
              </li>

              <li>
                <a href="#tab2checkTask" data-toggle="tab" onclick="getContent('checkTask')">Check your Tasks</a>
              </li>

              <li>
                <a href="#tab3analyse" data-toggle="tab" onclick="getContent('analyse')">Analyse</a>
              </li>

              <li>
                <a href="#tab4contact" data-toggle="tab" onclick="getContent('contact')">Contact</a>
              </li>
            </ul>
          </div>

          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab1about">
                <h1> ABOUT ME </h1>
                <p>
                  Pellentesque habitant morbi tristique senectus et netus et
                  malesuada fames ac turpis egestas. Vestibulum tortor quam,
                  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                  libero sit amet quam egestas semper. Aenean ultricies mi vitae
                  est. Mauris placerat eleifend leo. Quisque sit amet est et
                  sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                  sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
                  elit eget tincidunt condimentum, eros ipsum rutrum orci,
                  sagittis tempus lacus enim ac dui. Donec non enim in turpis
                  pulvinar facilisis. Ut felis. Praesent dapibus, neque id
                  cursus faucibus, tortor neque egestas augue, eu vulputate
                  magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                  tincidunt quis, accumsan porttitor, facilisis luctus, metus
                </p>
                <p>
                  Pellentesque habitant morbi tristique senectus et netus et
                  malesuada fames ac turpis egestas. Vestibulum tortor quam,
                  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                  libero sit amet quam egestas semper. Aenean ultricies mi vitae
                  est. Mauris placerat eleifend leo. Quisque sit amet est et
                  sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                  sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
                  elit eget tincidunt condimentum, eros ipsum rutrum orci,
                  sagittis tempus lacus enim ac dui. Donec non enim in turpis
                  pulvinar facilisis. Ut felis. Praesent dapibus, neque id
                  cursus faucibus, tortor neque egestas augue, eu vulputate
                  magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                  tincidunt quis, accumsan porttitor, facilisis luctus, metus
                </p>
              </div>

              <div class="tab-pane fade" id="tab2checkTask">
                <div class="list-container">
                  <div class="task-list">
                    <button class="addList"> + </button>
                    <input type="text" class="taskDescription" value="My Task 1">
                    <button class="deleteList"> - </button>
                    <input class="checkList" type="checkbox" checked="true">
                  </div>

                  <div class="task-list">
                    <button class="addList"> + </button>
                    <input type="text" class="taskDescription" value="My Task 2">
                    <button class="deleteList"> - </button>
                    <input class="checkList" type="checkbox" checked="true">
                  </div>

                  <div class="task-list">
                    <button class="addList"> + </button>
                    <input type="text" class="taskDescription" value="My Task 3">
                    <button class="deleteList"> - </button>
                    <input class="checkList" type="checkbox" checked="true">
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="tab3analyse">
                <p>
                  Pellentesque habitant morbi tristique senectus et netus et
                  malesuada fames ac turpis egestas. Vestibulum tortor quam,
                  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                  libero sit amet quam egestas semper. Aenean ultricies mi vitae
                  est. Mauris placerat eleifend leo. Quisque sit amet est et
                  sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                  sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
                  elit eget tincidunt condimentum, eros ipsum rutrum orci,
                  sagittis tempus lacus enim ac dui. Donec non enim in turpis
                  pulvinar facilisis. Ut felis. Praesent dapibus, neque id
                  cursus faucibus, tortor neque egestas augue, eu vulputate
                  magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                  tincidunt quis, accumsan porttitor, facilisis luctus, metus
                </p>
                <p>
                  Pellentesque habitant morbi tristique senectus et netus et
                  malesuada fames ac turpis egestas. Vestibulum tortor quam,
                  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                  libero sit amet quam egestas semper. Aenean ultricies mi vitae
                  est. Mauris placerat eleifend leo. Quisque sit amet est et
                  sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                  sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
                  elit eget tincidunt condimentum, eros ipsum rutrum orci,
                  sagittis tempus lacus enim ac dui. Donec non enim in turpis
                  pulvinar facilisis. Ut felis. Praesent dapibus, neque id
                  cursus faucibus, tortor neque egestas augue, eu vulputate
                  magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                  tincidunt quis, accumsan porttitor, facilisis luctus, metus
                </p>
              </div>
              <div class="tab-pane fade" id="tab4contact">
                <p>
                  Pellentesque habitant morbi tristique senectus et netus et
                  malesuada fames ac turpis egestas. Vestibulum tortor quam,
                  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                  libero sit amet quam egestas semper. Aenean ultricies mi vitae
                  est. Mauris placerat eleifend leo. Quisque sit amet est et
                  sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                  sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
                  elit eget tincidunt condimentum, eros ipsum rutrum orci,
                  sagittis tempus lacus enim ac dui. Donec non enim in turpis
                  pulvinar facilisis. Ut felis. Praesent dapibus, neque id
                  cursus faucibus, tortor neque egestas augue, eu vulputate
                  magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                  tincidunt quis, accumsan porttitor, facilisis luctus, metus
                </p>
                <p>
                  Pellentesque habitant morbi tristique senectus et netus et
                  malesuada fames ac turpis egestas. Vestibulum tortor quam,
                  feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                  libero sit amet quam egestas semper. Aenean ultricies mi vitae
                  est. Mauris placerat eleifend leo. Quisque sit amet est et
                  sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                  sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum,
                  elit eget tincidunt condimentum, eros ipsum rutrum orci,
                  sagittis tempus lacus enim ac dui. Donec non enim in turpis
                  pulvinar facilisis. Ut felis. Praesent dapibus, neque id
                  cursus faucibus, tortor neque egestas augue, eu vulputate
                  magna eros eu erat. Aliquam erat volutpat. Nam dui mi,
                  tincidunt quis, accumsan porttitor, facilisis luctus, metus
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <!-- DEFINING SIGNUP MODAL ============== -->

  <div class="modal fade" id="mySignupModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">
            <span class="glyphicon glyphicon-user"></span>
            Create your Account
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <form role="form" action="/" method="post" name="signupform">
              <div class="form-group">
                <label class="col-md-5 control-label">User Name :</label>
                <div class="col-md-7">
                  <input type="text" name="name" placeholder="Enter Full Name" class="form-control" />
                </div>
              </div><br>
              <div class="form-group">
                <label class="col-md-5 control-label">Email Id :</label>
                <div class="col-md-7">
                  <input type="email" name="email" placeholder="Email" class="form-control" />
                </div>
              </div><br>
              <div class="form-group">
                <label class="col-md-5 control-label">Password :</label>
                <div class="col-md-7">
                  <input type="password" name="password" placeholder="Password" class="form-control" />
                </div>
              </div><br>
              <div class="form-group">
                <label class="col-md-5 control-label">Confirm Password :</label>
                <div class="col-md-7">
                  <input type="password" name="cpassword" placeholder="Confirm Password" class="form-control" />
                </div>
              </div><br>
              <button type="submit" name="signup" value="Sign Up" class="btn btn-block btn-primary">
                <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;&nbsp;Register
              </button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DEFINING LOGIN Modal -->
  <div class="modal fade" id="myLoginModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">
            <span class="glyphicon glyphicon-lock"></span>LOGIN
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <form role="form" method="post" action="/" name="loginForm">
              <div class="form-group">
                <label class="col-md-5 control-label">Username</label>
                <div class="col-md-7">
                  <input type="text" name="name" placeholder="Enter registered userNane" class="form-control" />
                </div>
              </div><br><br>
              <div class="form-group">
                <label class="col-md-5 control-label">Password</label>
                <div class="col-md-7">
                  <input type="password" name="name" placeholder="Enter password" class="form-control" />
                </div>
              </div><br><br>
              <div class="checkbox">
                <label><input type="checkbox" value="" checked>Remember me</label>
              </div>
              <button type="submit" class="btn btn-success btn-block">
                <span class="glyphicon glyphicon-off"></span>Login
              </button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p class="pull-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; 2016 Company, Inc. &middot;
      <a href="#">Privacy</a> &middot;
      <a href="#">Terms</a>
    </p>
  </footer>











  <!-- <script type="text/javascript" src="/ui/main.js">
  </script> -->
</body>
</html>
